* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #ffffff; 
    color: #007bff;
    line-height: 1.6;
    padding: 30px;
}

.logo {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaço entre a logo e o título */
    vertical-align: middle; /* Alinha verticalmente com o texto */
}


 .navbar {
    background-color: #ffffff; /* Cor de fundo azul */
    width: 100%;
    padding: 10px 20px; /* Espaçamento interno */
    display: flex;
    justify-content: space-between; /* Espaço entre itens */
    align-items: center; /* Alinhamento vertical */
    border-radius: 0 0 8px 8px; /* Bordas arredondadas na parte inferior */
    position: fixed; /* Fixa na parte superior */
    top: 0; /* Alinha no topo */
    z-index: 1000; /* Mantém no topo de outros elementos */
 }

.navbar h1 {
    color: #007bff; /* Cor do título */
    font-size: 1.5em; /* Tamanho do título */
}

.menu {
    display: flex; /* Flexbox para os itens do menu */
}

.menu a {
    color: #007bff; /* Texto branco */
    font-weight: bold;
    text-decoration: none; /* Sem sublinhado */
    padding: 10px 15px; /* Espaçamento interno dos links */
    margin: 0 5px; /* Margem entre links */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave */
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo ao passar o mouse */
}        

header {
    text-align: center;
    margin-bottom: 30px; 
}

header h1 {
    color: #007bff; 
    font-size: 2.5em; 
    margin-bottom: 10px; 
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1; 
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em; 
    color: #007bff; 
    margin-bottom: 15px;
}

.step h3 {
    font-size: 1.5em; 
    color: #007bff; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.step p {
    font-size: 1em; 
    color: #666; 
    margin-bottom: 10px;
    line-height: 1.5; 
}

/* responsivo */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em; 
    }

    section h2 {
        font-size: 1.8em; 
    }

    step h3 {
        font-size: 1.3em; 
    }
}
